@{
    ViewData["Title"] = "Index";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Index    </title>
    <link href="~/Clientside//bootstrap/css/bootstrap.css" rel="stylesheet" />

</head>
<body>

    @* start header *@
    <header>
        <center>
            <nav>
                <a href="/Home/Index">Home</a>

                <a href="/Home/AboutUS">AboutUS</a>
                <a href="/Home/Privacy">Privacy</a>
                <a href="/Home/ContactUs">ContactUs</a>

            </nav>


        </center>

    </header>


    @*End Header*@
</body>
</html>
